<p class="d-md-none">
    <br>
    <br>
</p>

<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">© 2018-2019 Copyright: 
        <a href="https://nalsai.de/">Nils Fürniß</a> | 
        <a href="https://nalsai.de/impressum">Impressum </a> | 
        <a href="https://nalsai.de/datenschutz">Datenschutz </a>
    </div>
</footer>

<script src="https://cdn.nalsai.de/popper/1.14.7/popper.min.js"></script>
<script src="https://cdn.nalsai.de/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.nalsai.de/mdbootstrap/4.7.0/js/mdb.min.js"></script>