<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} @ {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.3.min.js"></script>
    <link rel="icon" type="image/png" href="/img/Avatar128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/img/Avatar256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/img/Avatar400.png" sizes="400x400">
</head>